/* RESET RULES & HELPER CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@font-face {font-family: "BentonSans Black";
  src:url("../../../assets/ff/benton-sans-sv/bentonsansblack/BentonSans Black.otf") format("opentype"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

:root {
  --white: #fff;
  --black: #221f1f;
  --lightpurple: #9e91f2;
  --rbg-main-text-clr: #b9661f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
* {
  padding: 0;
  margin: 0;
}
*/

body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.page-header{  
  background-color: #383838;
  
}
nav {
  width: 100%;
}

nav::after {
  content: '';
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  
}

.nav-logo {
  
  float: left;
}


.navigation {
  background-color:   #383838;
  background-color: rgba(56, 56, 56, 0.1);
  /* border-bottom: 1px solid #eee;
  padding-bottom: .5rem;
  padding-top: .5rem; */
  padding-top: 3px;
  position: fixed;
  top: 0;
  -webkit-transition: -webkit-transform 500ms ease-out;
  transition: -webkit-transform 500ms ease-out;
  transition: transform 500ms ease-out;
  transition: transform 500ms ease-out, -webkit-transform 500ms ease-out;
  width: 100%;
  z-index: 10;
}
.navigation.-hidden {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.navigation-dark {
  background-color:  #383838;
}
.navigation-container {
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 1180px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.navigation-items {
  padding-left: 0;
  margin: 1rem 0; /* added to accommodate the box-sizing rule */
}
.navigation-items > li {
  display: inline-block;
  list-style-type: none;
  color: #b9661f;  
  padding: 3px 12px;
  border: solid 1px #b9661f;
  border-radius: 5px;
  z-index: 20;
}
.navigation-items > li:not(:last-of-type) {
  margin-right: 1.5rem;
}

.page-header .trigger-menu {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  color: var(--white);
  letter-spacing: .2em;
}

.page-header .trigger-menu svg {
  fill: var(--white);
  margin-right: 8px;
  transition: transform 0.3s;
}

.parallax {
  position: relative;
  background-attachment: fixed;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;

  /**
   * Default height
   */
  height: 100%;
}

.parallax > * {

  position: relative;
  z-index: 10;

}


#parallax-2::after {

  content: '';
  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(100, 149, 237, 0.3);

}

.caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: left;
  justify-content: left;

  /*-webkit-box-align: flex-end*/
  /*-ms-flex-align: flex-end;*/
  align-items: flex-end;
  /* align-items: center; */

  height: 50%;
  /* flex-direction: column; */
  padding-top: 5%;
}

.caption .border {
  background-color: rgba(000, 000, 000, 0.3);
  background-color: transparent;
  color: #fff;
  color: #b9661f;  
  padding: 18px 36px;
  font-size: 25px;
  letter-spacing: 10px;
  font: 400 48px/1.8 "BentonSans Black", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.sub-caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: left;
  justify-content: space-between;

  /*-webkit-box-align: flex-end*/
  /*-ms-flex-align: flex-end;*/
  /*-webkit-align-items: flex-end;*/
  align-items: flex-start;

  height: 50%;
  /* flex-direction: column;
  padding-top: 15px;
  padding-left: 36px;  */
  padding: 15px 40px 0;
}

.sub-caption p {
  color: var(--rbg-main-text-clr);
  font: 400 24px/1.2 "Lato", sans-serif;
  width: 35ch;
  margin-top: 2em;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111111;
  text-align:center;
}

.text {
  color: #777777;
  background-color: #ffffff;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}

.social-mta {

  align-self: flex-end;

}

.mta-internal {

  display: flex;

}

.mta-item {

  fill: grey;

}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .parallax {
    background-attachment: scroll;
  }
}
