@import url('https://api.fonts.coollabs.io/css2?family=Roboto&display=swap');

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

@import url('https://api.fonts.coollabs.io/css2?family=Roboto+Condensed&display=swap');

@import url('https://api.fonts.coollabs.io/css2?family=Oswald&display=swap');

@import url('https://api.fonts.coollabs.io/css2?family=Noto+Sans&display=swap');

@import url('https://api.fonts.coollabs.io/css2?family=Work+Sans&display=swap');

:root {
	--colorPrimaryDark: hsl(225,59.3%,10.6%);
	--colorPrimaryLight: hsl(225,14.1%,33.3%);
	--colorPlaceholder: hsl(221.5,7%,63.3%);
  	--clr-rbg-main: hsl(27.7,71.3%,42.4%);
	--colorBackground: hsl(210,6.2%,93.7%);
	--colorBorder: hsl(220,6.4%,81.6%);
	--colorAccent: hsl(224.1,100%,43.5%);
	--gutter: 0 16px;
	--border: 1.5px solid var(--colorBorder);
	--radius: 3px;
}

* {
  margin: 0;
  padding: 0;
}

*, 
*::before, 
*::after {
  box-sizing: border-box;
}

body {
    position: relative;
}

h3 {
  font-family: 'Oswald', sans-serif;
}

.rbg-header {
  display: flex;
  position: fixed;
  align-items: center;
  left: 0;
  right: 0;
  padding: 8px 0;
  background-color: transparent;
  z-index: 100;
  transition: all .6s;
  transition: transform 500ms ease-out, -webkit-transform 500ms ease-out, background-color 500ms ease-out;
}

.headerDown {
	top: 0;
}

.page-header {
  background-color: #00020e;
  background-color: rgba(0, 2, 14, .95);
  background: rgba(0, 2, 14, .95);
  border-bottom: 2px solid #b9661f;
  -webkit-transition: -webkit-transform 500ms ease-out;
  /* transition: -webkit-transform 500ms ease-out; */
  /* transition: transform 500ms ease-out; */
  transition: transform 500ms ease-out, -webkit-transform 500ms ease-out;
}

.rbg-header::after {
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

.rbg-header.-hidden {
  transform: translateY(-100%);
}

.header-logo, .header-theme {
	position: relative;
/* 	float: left; */
}

.header-logo {
  width: 40px;
  margin-left: 15px;
  margin-right: 10px;
}

.header-logo img {
  width: 100%;
  height: auto;
}

@media (min-width: 30rem) {
  .header-logo {
      width: 55px;
    	margin-left: 50px;
  }
}

#page, img {
	vertical-align: top;
}

img {
	max-width: 100%;
	height: auto;
}

.header-theme {
	padding-left: 10px;
}

.header-theme h4 {
  font-family: 'Segoe UI';
  font-family: 'Oswald';  
  font-size: 12px;
  font-weight: 700;
  color: #b9661f;
  color: #dc7f2f;=
}

.header-nav {
  position: relative;
  width: max-content;
  padding-left: 1.25em;
  margin-left: auto;
  margin-right: 50px;
	/*
 float: left;
  float: right;
	list-style-type: none;
	width: max-content;
	padding-left: 1.25em;
	margin-left: 100px;
	margin: 1.2em 3.125em .9em 32.25em;
 */
}

.header-nav li {
	display: inline-block;
	font-family: 'Segoe UI';
  font-family: 'Oswald', sans-serif;
	font-size: .85em;
	font-weight: 700;
  letter-spacing: 0.03rem;
}

.header-nav li a {
	text-decoration: none;
	color: #b9661f;
	padding: 5px 10px;
	transition: color .3s ease-in-out;
}

.header-nav li a.fromHere {
	color: #fff;
}

.header-nav li a:not(.fromHere):hover {
	color: #fd9402;
	/* transition: .3s ease-in-out; */
}
  
.hamburger, 
.icon.nav-icon-5 {
	display: block;
	/*     order: 3; */
	margin-left: auto;
	margin-right: 15px;
}
.hamburger.active .bar:nth-child(2) {
	opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
	transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
	transform: translateY(-8px) rotate(-45deg);
}

.rbg-banner {
	position: relative;
	height: 300px;
  height: 100vh;
/*     height: 500px; */
	text-align: center;
	color: #fff;
	padding: 0 60px;
	background: #000000 url('https://ik.imagekit.io/ghow2otb3rc/rebirthofthegriot/c0v-members/paul-zoetemeijer-ek-BOf6s-JYYo-unsplash_1__FMvHm504j.jpg') center 60% / cover no-repeat;
/* 	background: #000000 url('https://ik.imagekit.io/ghow2otb3rc/rebirthofthegriot/c0v-members/paul-zoetemeijer-ek-BOf6s-JYYo-unsplash_1__FMvHm504j.jpg') 8px 10px / cover no-repeat;   */
/* 	background-position: 380px 70%;
	background-size: cover;
	background-repeat: no-repeat; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.rbg-banner > * {
	z-index: 10;
}

.rbg-banner .banner-title {
	position: relative;
	margin: 0;
	padding: 140px 0 70px;
	text-align: left;
}

.rbg-banner h2 {
	font-family: 'raleway';
  font-family:"work-sans";
	font-weight: 800;
	font-size: 3.5em;
  font-size: calc(4.5vw + 1rem);
	color: #fafafa;
	color: #b9661f;
  color: #dc7f2f;
  text-transform: uppercase;
	margin: 0;
  margin-bottom: 2.5rem;
	padding: calc(2.5em - 15px) 0 .5em;
}
/* 
.banner-title h2 {
  animation: openingSeq 1.5s ease-in-out .75s forwards;
} */

@media (min-width: 30rem) {
  .rbg-banner {
    background: #000000 url('https://ik.imagekit.io/ghow2otb3rc/rebirthofthegriot/c0v-members/paul-zoetemeijer-ek-BOf6s-JYYo-unsplash_1__FMvHm504j.jpg') 0px 60% / cover no-repeat;
    padding: 0 60px;
  }
  .banner-title h2 {
    animation: openingSeq 1.5s ease-in-out .75s forwards;
  }
}

.rbg-banner p {
	font-family: 'Noto Sans';
	font-size: 21px;
  font-size: calc(.5vw + 1rem);
  font-style: italic;
	font-weight: 400;
  line-height: 1.2;
  width: 30ch;
	color: #fd9402;
	color: #b9661f;
  color: #c0c0c0;
  color: #fafafa;
/* 	text-transform: uppercase; */
	margin-top: 0;
}

.rbg-banner::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, #202931, #292152);
  background-color: rbga(0, 0, 0);
	opacity: .65;
  box-shadow: inset, rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}


:where(section, .text, .parallax, .rbg--footer-wrap) {
  padding: 1.2em .5em;
}

.text {
  background-color:hsla(0,14%,94%,1);
  background-image:
radial-gradient(at 77% 88%, hsla(27,100%,84%,1) 0px, transparent 50%),
radial-gradient(at 0% 50%, hsla(355,100%,93%,1) 0px, transparent 50%),
radial-gradient(at 90% 24%, hsla(340,20%,88%,1) 0px, transparent 50%),
radial-gradient(at 0% 100%, hsla(22,20%,89%,1) 0px, transparent 50%),
radial-gradient(at 6% 8%, hsla(343,23%,95%,1) 0px, transparent 50%);
/*   border: 1px solid black; */
}

.text--title {
  display: flex;
  flex-direction: colummn;
  flex-wrap: wrap;
  margin-bottom: 2.5rem;
/*   border: 1px solid black; */
}

.text h3 {
  font-family:"work-sans";
  font-size: calc(4vw + 2.5rem);
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.1;
  color: #c8c8c8;
  color: #dc7f2f;
  background: url("https://ik.imagekit.io/ghow2otb3rc/Projects/The%20Work/c0v-members/AdobeStock_126287014_yuwZJFx7rK_1_-fotor-20231002172024_Sjg7Oruur.png")
	bottom;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fadeAndDown 1s ease-in-out 0.5s 1 forwards;
}


.text h5 {
  font-family: 'Oswald';
  font-size: 1.953rem;
  font-weight: 700;
  color: var(--clr-rbg-main);
  color: hsl(27.7,71.3%,55.7%);
  align-self: flex-end;
  transform: translate(25px, -40%);
}

.text p, 
section p {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-size: .985em;
  line-height: 1.4em;
  margin-bottom: 1rem;
/*   text-align: left; */
}

@media (min-width: 30rem) {
  :where(section, .text, .parallax, .rbg--footer-wrap) {
    padding: 1.2em 3em;
  }
  .text h3 {
    font-size: 5.052rem;
  }
  .text h5 {
      transform: translate(-6%, -20%);
  }
}


/* 
.text h5 {
  font-family: 'Oswald';
  font-size: 1.953rem;
  font-weight: 700;
  align-self: flex-end;
  transform: translate(-30%, -20%);
}
.text p {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-size: .875em;
}
 */
.rbg--anni-wrap {
  text-align: center;
  margin-bottom: 1rem;
}

.rbg--anni-wrap img {
box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;  
}


section h3 {
  text-align: right;
  font-size: 3rem;
}


/* The Following Code will undergo edit/deletion */
/* 
body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}
 */
.page-header{  
  background-color: #383838;
  
}
nav {
  width: 100%;
}

nav::after {
  content: '';
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  
}

.nav-logo {
  
  float: left;
}


.navigation {
  background-color:   #383838;
  background-color: rgba(56, 56, 56, 0.1);
  /* border-bottom: 1px solid #eee;
  padding-bottom: .5rem;
  padding-top: .5rem; */
  padding-top: 3px;
  position: fixed;
  top: 0;
  -webkit-transition: -webkit-transform 500ms ease-out;
  transition: -webkit-transform 500ms ease-out;
  transition: transform 500ms ease-out;
  transition: transform 500ms ease-out, -webkit-transform 500ms ease-out;
  width: 100%;
  z-index: 10;
}
.navigation.-hidden {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.navigation-dark {
  background-color:  #383838;
}
.navigation-container {
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 1180px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.navigation-items {
  padding-left: 0;
  margin: 1rem 0; /* added to accommodate the box-sizing rule */
}
.navigation-items > li {
  display: inline-block;
  list-style-type: none;
  color: #b9661f;  
  padding: 3px 12px;
  border: solid 1px #b9661f;
  border-radius: 5px;
  z-index: 20;
}
.navigation-items > li:not(:last-of-type) {
  margin-right: 1.5rem;
}

.page-header .trigger-menu {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  color: var(--white);
  letter-spacing: .2em;
}

.page-header .trigger-menu svg {
  fill: var(--white);
  margin-right: 8px;
  transition: transform 0.3s;
}

.parallax {
  position: relative;
  background-attachment: fixed;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;

  /**
   * Default height
   */
  height: 100%;
}

.parallax > * {

  position: relative;
  z-index: 10;

}


#parallax-2::after {

  content: '';
  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(100, 149, 237, 0.3);

}

.caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: left;
  justify-content: left;

  /*-webkit-box-align: flex-end*/
  /*-ms-flex-align: flex-end;*/
  align-items: flex-end;
  /* align-items: center; */

  height: 50%;
  /* flex-direction: column; */
  padding-top: 5%;
}

.caption .border {
  background-color: rgba(000, 000, 000, 0.3);
  background-color: transparent;
  color: #fff;
  color: #b9661f;  
  padding: 18px 36px;
  font-size: 25px;
  letter-spacing: 10px;
  font: 400 48px/1.8 "BentonSans Black", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.sub-caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: left;
  justify-content: space-between;

  /*-webkit-box-align: flex-end*/
  /*-ms-flex-align: flex-end;*/
  /*-webkit-align-items: flex-end;*/
  align-items: flex-start;

  height: 50%;
  /* flex-direction: column;
  padding-top: 15px;
  padding-left: 36px;  */
  padding: 15px 40px 0;
}

/* .sub-caption p {
  color: var(--rbg-main-text-clr);
  font: 400 24px/1.2 "Lato", sans-serif;
  width: 35ch;
  margin-top: 2em;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111111;
  text-align:center;
}

.text {
  color: #777777;
  background-color: #ffffff;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}
 */
.social-mta {
  align-self: flex-end;
}

.mta-internal {
  display: flex;
}

.mta-item {
  fill: grey;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .parallax {
    background-attachment: scroll;
  }
}

/* #Progress
================================================== */

.progress-wrap {
	position: fixed;
	right: 30px;
	bottom: 30px;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	border-radius: 50px;
	box-shadow: inset  0 0 0 2px rgba(0,0,0,0.1);
	z-index: 10000;
	opacity: 0;
	visibility: hidden;
	transform: translateY(15px);
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap.active-progress {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
.progress-wrap::after {
	position: absolute;
	font-family: 'unicons';
	content: '\e84b';
	text-align: center;
	line-height: 46px;
	font-size: 24px;
	color: rgba(0, 0, 0, 0.3); /* --- Pijl kleur --- */
	left: 0;
	top: 0;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	z-index: 1;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap:hover::after {
	opacity: 0;
}
.progress-wrap::before {
	position: absolute;
	font-family: 'unicons';
	content: '';
	text-align: center;
	line-height: 46px;
	font-size: 24px;
	opacity: 0;
  text-align: center;
	background: black; /* --- Pijl hover kleur --- */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	left: 0;
	top: 0;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	z-index: 2;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap:hover::before {
	opacity: 1;
}
.progress-wrap svg path { 
	fill: none; 
}
.progress-wrap svg.progress-circle path {
	stroke: rgba(0, 0, 0, 0.2); /* --- Lijn progres kleur --- */
  stroke: hsla(27.7,71.3%,42.4%, .8);
	stroke-width: 4;
	box-sizing:border-box;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
